<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./css/template.css" type="text/css">
    <script src="./script/jquery-3.7.1.min.js"></script>
    <script src="./script/bootstrap.min.js"></script>
    <title>first template</title>
</head>
<body>

<header>
    <h1><a href="#">Chris Bumstead</a></h1>
    <div class="headertext">
        <p>He Is The King Of Classic Physique</p>
        <ul>
            <li><a href="#">Awards <span>↓</span></a></li>
            <li><a href="#">Product <span>↓</span></a></li>
            <li><a href="#">SNS <span>↓</span></a></li>
        </ul>
    </div>
    <p class="story">
        Still in his young 20s, he is the most sensationally popular of the current<br>
        generation, with a handsome appearance that resembles Jude Law, tall<br>
        height, and a beautiful body, as well as tremendous strength and<br>
        excellent athletic performance to match, making him the second coming<br>
        of Arnold Schwarzenegger in his prime. He is a bodybuilder who is<br>
        gaining . It is especially popular in North America.
    </p>

</header>

<section id="awards">
    <div class="heightbox"></div>

<h2>Awards</h2>




    <div class="container">
        <div class="row awardstext2">
            <div class="col-12">
                <p>
                    Mr. Olympia Classic Physique: 2nd Place, 2017-18<br>
                    Mr. Olympia Classic Physique: 1st Place, 2019-23
                </p>
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div>
                <p class="text2">
                    2020 Mr. Olympia<br>
                    competition video</p>
                </div>
            </div>
            <div class="col-9">
                <div class="chris">
                    <iframe src="https://www.youtube.com/embed/jNUov5fq7jY?autoplay=1&mute=1&controls=0&loop=1&playlist=jNUov5fq7jY&amp;start=5" title="Chris Bumstead classic physique Mr Olympia posing routine 2020" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-3">
                <div>
                <p class="text2">2021 Mr. Olympia<br>
                    competition video</p>
                </div>
            </div>
            <div class="col-9">
                <div class="chris">
                    <iframe src="https://www.youtube.com/embed/AFZMJfUsW_Q?autoplay=1&mute=1&controls=0&loop=1&playlist=AFZMJfUsW_Q" title="CHRIS BUMSTEAD INDIVIDUAL POSING OLYMPIA 2021 [4K]" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-3">
                <div>
                <p class="text2">2022 Mr. Olympia<br>
                    competition video</p>
                </div>
            </div>
            <div class="col-9">
                <div class="chris">
                    <iframe src="https://www.youtube.com/embed/Js2-Uj1U3PQ?autoplay=1&mute=1&controls=0&loop=1&playlist=Js2-Uj1U3PQ&amp;start=20" title="CHRIS BUMSTEAD FINAL ROUTINE OLYMPIA 2022" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-3">
                <div>
                <p class="text2">2023 Mr. Olympia<br>
                    competition video</p>
                </div>
            </div>
            <div class="col-9">
                <div class="chris">
                    <iframe class="chirs" src="https://www.youtube.com/embed/wzfq9jPswU4?autoplay=1&mute=1&controls=0&loop=1&playlist=wzfq9jPswU4&amp;start=30" title="Chris Bumstead 2023 Mr Olympia Solo Posing Routine (4K)" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section id="rivals">
        <h2 hidden>rivals</h2>
        <div class="container">
            <div class="row">
                <div>
                    <h2> His Rivals</h2>
                </div>
            </div>
            <div class="row">
                <div>
                    <p>
                        10th Jaehoon Park  9th Vahid Badpei 8th Mike Sommerfeld 7th Wesley Vissers 6th Michael Daboul<br>
                        5th Terrence Ruffin 4th Breton Ansley 3th Urs Kalecinski 2th Ramon Rocha Queiroz<br>
                        In addition to this, many players are targeting Chris Bumstead.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="product">
        <h2 hidden>product</h2>
        <div class="container">

            <div class="row">
                <h2>Product</h2>
            </div>

            <div class="row top">
                <div class="col-3 productbox">
                    <div>
                        <img src="./image/belt.jpg" alt="blet">
                        <h6>Bum Lifting Belt</h6>
                        <p>$119.99</p>
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <img src="./image/protein.jpg" alt="protein">
                        <h6>Bum Protein</h6>
                        <p>$54.99</p>
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <img src="./image/workout.jpg" alt="workout">
                        <h6>Bum Pre-WorkOut</h6>
                        <p>$49.99</p>
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <img src="./image/energydirnk.jpg" alt="blet">
                        <h6>Bum Energy-Drink</h6>
                        <p>$19.99</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3 productbox">
                    <div>
                        <img src="./image/clothes.jpg" alt="clothes">
                        <h6>2022 VictoryCommemorative Clothes</h6>
                        <p>$34.99</p>
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <img src="./image/cap.jpg" alt="cap">
                        <h6>C Bum Cap</h6>
                        <p>$24.99</p>
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <img src="./image/case.jpg" alt="case">
                        <h6>C Bum case</h6>
                        <p>$24.99</p>
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <img src="./image/bag.jpg" alt="bag">
                        <h6>C Bum bag</h6>
                        <p>$44.99</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sns">

        <h2 hidden>sns</h2>

        <div class="container">

            <div class="row">
                <h2>SNS</h2>
            </div>

            <div class="row">

                <div class="col-6 snsbox">
                    <div class="wrap">
                        <a href="#" class="img">
                            <img src="./image/insta.jpg" alt="insta">
                        </a>
                        <p class="snstext">Instagram</p>
                    </div>
                </div>

                <div class="col-6 snsbox">
                    <div class="wrap">
                        <a href="#" class="img">
                            <img src="./image/youtube.jpg" alt="youtube">
                        </a>
                        <p class="snstext">Youtube</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-6 snsbox">
                    <div class="wrap">
                        <a href="#" class="img">
                            <img src="./image/facebook.jpg" alt="facebook">
                        </a>
                        <p class="snstext">Facebook</p>
                    </div>
                </div>

                <div class="col-6 snsbox">
                    <div class="wrap">
                        <a href="#" class="img">
                            <img src="./image/twitter.jpg" alt="twitter">
                        </a>
                        <p class="snstext">Twitter</p>
                    </div>
                </div>

            </div>

        </div>

        <button type="button" class="top">Go Top</button>

    </section>

    <footer>

        <div class="footertext">

        <div class="logo">
            <figure>
                <img src="./image/logo.jpg" alt="logo">
            </figure>
        </div>

        <p>Site name <span>Chris Bumstead</span></p>
        <p>E-mail <span>dbswjdgus94@naver.com</span></p>
        <p>Producer <span>Yoon</span></p>
        <p>Number <span>010-9668-7715</span></p>
        <p>
            본 페이지는 상업적 목적이 아닌 개인 포트폴리오용으로 제작되었습니다. 2023-11-15 Yoon. All Rights Reserved.
        </p>

        </div>

        <button type="button" class="productsite">PRODUCT SITE</button>
        <button type="button" class="olympia">OLYMPIA SITE</button>

    </footer>


    
</body>
</html>